*
!README.md
!ip/
!ip/**/
!ip/**/*.xci
!ip/**/*.coe
!Makefile
!.gitignore
!src/
!src/**
!tb/
!tb/**
tb/processor_test/**/*.txt
tb/processor_test/**/*.jou
tb/processor_test/**/*.log
tb/processor_test/output_test/ntt_bench_bar
tb/router_test/**/*.txt
tb/intt_processor_test/**/*.txt
tb/intt_processor_test/output_test/ntt_bench_bar
tb/nwc_processor_test/*.txt
tb/nwc_processor_test/ntt_bench_bar
!tcl/
!cst/
!cst/*
!bd
!bd/blockdesign
!bd/blockdesign/blockdesign.bd
!fw
!fw/testbench_0
fw/testbench_0/.gitignore
!fw/testbench_0/src
!fw/testbench_0/src/*.c
!fw/testbench_0/src/*.h
!fw/testbench_0/src/*.ld
!fw/testbench_1
fw/testbench_1/.gitignore
!fw/testbench_1/src
!fw/testbench_1/src/*.c
!fw/testbench_1/src/*.h
!fw/testbench_1/src/*.ld
